<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>

<!-- NOTE: dependency SmartCard changed to "Copy Local: True", might need to change to "Copy Local: False" -->
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SmartCard" publicKeyToken="367db8a346085e5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="2.1.213.9175" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->

</configuration>
